main{
    text-align: center;
    margin: 100px auto;
}
label{
    font-size: 20px;
    font-weight: 700;
}
#forname, #forgender{
    padding: 10px;
    margin: 10px;
    font-size: 17px;
}
button{
    padding: 10px;
    width: 110px;
    font-size: 17px;
    border: none;
    background-color: coral;
    margin-top: 20px;
     cursor: pointer;
}
#sub{
    background-color: rgb(50, 183, 50);
}
#storeData{
    font-size: 20px;
}
.radiobtn{
    margin-top: 16px;
    font-size: 20px;
}